body {
  display: flex;
  justify-content: center;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr))
  /* width: min(var(--cv-width), 100%) */
}
