
.CVBody {
  display: flex;
  flex-direction: column;
}

.CVSection {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.CVSection > h1 {
  grid-column: span 2;
}

.CV {
  background-color: white;
  aspect-ratio: 9 / 16;
  max-height: 100vh;
  width: auto;
  /* width: clamp(340px, 50%, 1000px); */
  margin-inline: auto;
}
