
.CVBody {
  display: flex;
  flex-direction: column;
}

.CVSection {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.CVSection > h1 {
  grid-column: span 2;
}

.CV {
  font-family: var(--cv-font-family);
  overflow: hidden;
  background-color: white;
  aspect-ratio: 9 / 16;
  max-height: 100vh;
  width: auto;
  margin-inline: auto;
}
