.CV-edit {
  background-color: rgb(255, 255, 255);
  display: grid;
  gap: 20px;
  place-content: center;
  overflow: hidden;
}

.input-description {
  color: black;
}

.inputs > section {
  display: flex;
  justify-content: space-between;
  margin: 20px 150px;
}