.headerItem {
  display: flex;
  justify-content: space-between;
}

.CVHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: cornflowerblue;
}

.CVHeaderItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.CVHeaderItems > div {
  display: flex;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
}

.CVHeaderItems p {
  display: inline-block;
  font-size: calc(0.05 * var(--cv-width))
}

.CVHeaderItems svg {
  fill: #fff;
} 

.CVHeaderItems p,
.CVHeader > h1 {
  color: #fff;
}

.CVHeader > h1 {
  text-align: center;
}