:root {
  --pill-radius: 100vmax;
}

dialog {
  height: 500px;
  width: clamp(200px, 30%, 700px);
  position: relative;
  overflow: visible;
  background-color: rgb(171, 171, 171);
  color: black;
  border-color: white;
}

dialog input {
  width: 100%;
}

/* dialog::backdrop {
  color: blue;
} */

.dialog-open {
  border-radius: var(--pill-radius);
  display: flex;
  justify-content: start;
  width: 100%;
}

.dialog-close {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  transform: translateY(-100%);
  border-radius: var(--pill-radius) var(--pill-radius) 0 0;
  font-size: 3rem;
  padding: 0.1em 0.3em;
  right: 0;
}