

.dropdown-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-children {
  position: absolute;
  top: 0;
  transform-origin: top;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transform: translateY(5rem);
  width: min(320px, 100%);
}

.dropdown-children > button {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2em 4em black;
}

.dropdown-button {
  width: min(400px, 100%);
  height: 5em;
  background-color: #fff;
  color: #000;
  border-radius: 100vmax;
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    fill: #000;
    transform: scale(1.4);
  }
}

.dropdown-button > * {
  margin: 0 2em;
}

.dropdown-button > p {
  width: min-content;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}